.App,
#root,
body,
html {
  text-align: center;
  position: relative;
  height: 100%;
}

@keyframes Attack {
  0% {
    left: 0px;
  }
  50% {
    left: -350px;
  }
  100% {
    left: 0px;
  }
}

@keyframes EnemyAttack {
  0% {
    right: 0px;
  }
  50% {
    right: -350px;
  }
  100% {
    right: 0px;
  }
}
@keyframes LinkHoverTransition {
  0% {
    color: White;
  }
  100% {
    color: salmon;
  }
}

.YourRobot button:active {
  position: relative;
  animation-name: Attack;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}
.LinkHover:hover {
  animation-name: LinkHoverTransition;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
a:hover {
  animation-name: LinkHoverTransition;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.HomePage,
.FightPage,
.YourRobotPage {
  background-image: url("./pictures/roboticbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(211, 211, 211, 0.555);
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}
