.App,
#root,
body,
html {
  text-align: center;
  position: relative;
  height: 100%;
}

@keyframes Attack {
  0% {
    left: 0px;
  }
  50% {
    left: -350px;
  }
  100% {
    left: 0px;
  }
}

@keyframes EnemyAttack {
  0% {
    right: 0px;
  }
  50% {
    right: -350px;
  }
  100% {
    right: 0px;
  }
}
@keyframes LinkHoverTransition {
  0% {
    color: White;
  }
  100% {
    color: gold;
  }
}

.YourRobot button:active {
  position: relative;
  animation-name: Attack;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}
.LinkHover:hover {
  animation-name: LinkHoverTransition;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
a:hover {
  animation-name: LinkHoverTransition;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.HomePage,
.FightPage,
.YourRobotPage,
.ResetPage,
.YouWinPage,
.YouLosePage {
  background-image: url("./pictures/roboticbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
input[type="radio"] {
  width: 20px;
  height: 20px;
}

/* Media Queries */
@media only screen and (max-width: 520px) {
  #EnemyRobotHealth {
    font-size: 1.8vh;
    transition: ease-in 200ms;
  }
}

@media screen and (max-width: 1100px) {
  #NavBarTitle {
    font-size: 20px;
    transition: ease-in-out 200ms;
  }
}
